/*---------------------------IT FIX THE MODAL BUG-----------------------*/
/*More info here: https://github.com/Semantic-Org/Semantic-UI-React/issues/2550 */
.ui.dimmer {
    display: flex !important;
  }
  
  .ui.modal {
    margin-top: 0;
  }
/*-----------------------------------------------------------------------*/

/*Padding to avoid fixed navbar above the main content*/
.paddingTopContent{
  padding-top: 55px;
}

/*Those d*mmed scrollbars*/
.noScrollBar {
  overflow: hidden !important;
}